@use '../../../assets/styles/variables.scss';
@use '../../../assets/styles/mixins.scss';

.Intro {
  padding: variables.$space 0;

  @include mixins.breakpoint(variables.$bp-md) {
    padding: 50px 0;
  }

  p {
    line-height: 1.6;

    @include mixins.breakpoint(variables.$bp-md) {
      line-height: 1.8;
      text-align: justify;
    }
  }
}
