@use '../../../assets/styles/variables.scss';
@use '../../../assets/styles/mixins.scss';

.LatestEvents {
  color: white;

  @include mixins.darkSection('../../../assets/images/tracks.jpg');

  a {
    color: white;
    text-decoration: underline;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  @include mixins.breakpoint(variables.$bp-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: variables.$space;
  }

  @include mixins.breakpoint(variables.$bp-lg) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: variables.$space;
  }
}

.listItem {
  // background: $color-light;
  // padding: $space;
  display: flex;
  margin: 10px 0;
}

.btn {
  margin-top: variables.$space;
}

.heading {
  color: variables.$color-light;
  margin-top: 0;
}

.eventHeading {
  margin: 0 0 0 variables.$space;
  display: flex;
  align-items: center;
  text-align: left;
  color: variables.$color-light;
}
