@use '../variables.scss';
@use '../mixins.scss';

.logo {
  border-radius: 5px;
  width: 75px;
  height: auto;
  float: left;
  margin-right: 10px;

  @include mixins.breakpoint(variables.$bp-md) {
    @include mixins.alignleft;
    padding: 0 0 50px;
    width: initial;
    height: initial;
  }
}
