@use '../../../assets/styles/variables.scss';
@use '../../../assets/styles/mixins.scss';

.container {
  @include mixins.clearfix;
  margin: 0 auto;
  max-width: variables.$max-width;
  padding: 0 (variables.$space * 0.5);

  @media (min-width: variables.$bp-md) {
    padding: 0 (variables.$space * 0.75);
  }
}

.containerSmall {
  @extend .container;
  max-width: variables.$content;
}
