@use '../../../assets/styles/variables.scss';
@use '../../../assets/styles/mixins.scss';

.ContactForm {
  margin-top: -(calc(variables.$space / 2));

  @include mixins.breakpoint(variables.$bp-md) {
    margin-bottom: variables.$space;
  }
}

.formFields {
  margin-bottom: calc(variables.$space / 2);

  @include mixins.breakpoint(variables.$bp-md) {
    margin-bottom: variables.$space;
  }
}

.field {
  display: block;
  width: 100%;
  margin-top: calc(variables.$space / 2);
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: variables.$font-default;
  border: 1px solid variables.$color-gray-light;
  border-radius: 0;

  @include mixins.breakpoint(variables.$bp-md) {
    margin-top: variables.$space;
  }
}

.error {
  color: variables.$color-primary;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 4px 0 0 4px;
}

.recaptcha {
  margin: variables.$space auto;
}
