@use '../../../assets/styles/variables.scss';

.Button {
  border: 3px solid variables.$color-dark;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  padding: 10px 10px 7px;
  font-family: variables.$font-primary;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  letter-spacing: 2px;
  color: variables.$color-dark;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: variables.$color-light;
    background: variables.$color-dark;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &Ghost {
    border: 3px solid variables.$color-light;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 10px 10px 7px;
    font-family: variables.$font-primary;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 2px;
    color: variables.$color-light;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: variables.$color-dark;
      background: variables.$color-light;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
