@use '../../../assets/styles/variables.scss';
@use '../../../assets/styles/mixins.scss';

.LatestNews {
  @include mixins.section;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: variables.$space;
  list-style: none;
  padding: 0;
  margin: 0 0 variables.$space;

  li {
    background: variables.$color-light;
    padding: variables.$space;
  }
}
