@use '../../../assets/styles/variables.scss' as *;
@use '../../../assets/styles/mixins.scss' as *;

.Gallery {
  @include darkSection('../../../assets/images/tracks.jpg');
}

.galleryWrapper {
  max-width: 960px;
  margin: 0 auto;
  border: 2px solid $color-gray;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $space;
  list-style: none;
  padding: 0;
  margin: 0 0 $space;

  li {
    background: $color-light;
    padding: $space;
  }
}

:global {
  .slider-control-bottomcenter {
    @media (max-width: $bp-lg) {
      display: none;
    }
  }
}
