@use '../../../assets/styles/variables.scss';
@use '../../../assets/styles/mixins.scss';

.Gallery {
  @include mixins.darkSection('../../../assets/images/tracks.jpg');
}

.Img {
  width: 100%;
  height: auto;
}

:global {
  .nuka-container {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid variables.$color-gray;
    box-sizing: content-box;
  }
}
