@use 'sass:color';
@use '../../../assets/styles/variables.scss';
@use '../../../assets/styles/mixins.scss';

.Footer {
  text-align: center;
  background: variables.$color-dark;
}

.pageCap {
  border-top: 1px solid color.adjust(variables.$color-gray-light, $lightness: 40%);
  padding: 20px 0;
  background: variables.$color-light;

  @include mixins.breakpoint(variables.$bp-md) {
    padding: 50px 0;
  }
}

.info {
  padding: 20px 0;
  color: variables.$color-light;
  font-family: variables.$font-primary;

  @include mixins.breakpoint(variables.$bp-md) {
    padding: 50px 0;
  }
}

.logo {
  border-radius: 7px;
  width: 50px;
  height: auto;
}
